p{
    text-align: center;
    font-size: 16px;
    padding: 10px;
    margin: auto;
    width: 300px;
}
.uno {
    background-color: lightblue;
    border: 2px solid #85C1E9;
    color: blue;
}

.dos {
    background-color: lightgreen;
    border: 2px solid #58D68D;
    color: darkgreen;
}